[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
# 프라이빗 IP 수신 대기 적용
ExecStart={{ node_exporter_bin_path }} --web.listen-address="{{ node_exporter_listen_address }}"

# KISA 보안 하드닝 적용
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target